@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --bg-primary: #d82028;
  --bg-secondary: #373656;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --color-white: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-primary);
  margin-bottom: 0px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  font-family: var(--font-family-secondary);
  margin: 0px;
  line-height: 24px;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-family-secondary);
}
.connect-container h1,
h2,
h3 {
  text-align: center;
}
.connect-box h4,
img,
p {
  padding: 10px;
}
.connect-grid {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-inline: 15px;
}
.connect-box h4 {
  margin: 0;
}
.connect-box {
  padding: 12px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  width: 230px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 18px;
  background-color: #fff;
  transition: 0.5s ease;
}
.connect-box img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.connect-box:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}
.connect-box button {
  background-color: var(--bg-secondary);
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 7rem;
  height: 2.4rem;
  font-size: 16px;
  font-family: var(--font-family-primary);
  margin-top: 10px;
  margin-bottom: 30px;
}
.connect-box button:hover {
  cursor: pointer;
  color: var(--bg-secondary);
  background-color: #fff;
  transition: 0.4s ease-out;
  border: 2px solid var(--bg-secondary);
}
@media screen and (max-width: 700px) {
  .connect-grid {
    display: block;
    width: 90%;
    margin-inline: auto;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .connect-box {
    margin-bottom: 40px;
    width: 90%;
    margin-inline: auto;
  }
  .connect-box img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 220px) and (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 14px;
    padding: 4px 0px;
  }
}
